.call-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 417px;
  height: 444px;
  border-radius: 30px;
  border: 0.5px solid #d8d8d8;

  background: #fff;
  margin: auto;
  margin-top: 120px;
}

.call-card-action {
  display: flex;
  gap: 49px;
  margin-top: 50px;
}

.call-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #eee;
  border: none;
  text-decoration: none;
}

.call-card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  color: #eee;
  background-color: #f7c510;
  border-radius: 50%;

  color: #fff;
  font-size: 50px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.call-card-title {
  color: #202124;
  font-size: 23px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.call-card-subtitle {
  color: #8e8e8e;
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
